extends layout

block content
	.row
		.col-md-offset-2.col-md-8
			form(method='POST', action='/articles/add')
				fieldset
					legend 
						h1 #{title}
					.form-group
						label Title:
						input.form-control(name='title', type='text')
					.form-group
						label Body:
						textarea.form-control(name='body', rows='10')
					br
					input.btn.btn-primary.btn-block(type='submit', value='Submit')