extends layout

block content
	.row
		.col-md-offset-2.col-md-8
			h1 #{title}

			ul.list-group
				each article, i in articles
					li.list-group-item
						a(href='/articles/'+article._id)=	article.title