extends layout

block content
	.row
		.jumbotron
				h1.text-center Welcome to Node Blog
				p.text-center Node Blog is build from scratch using NodeJS, ExpressJS, MongoDB, Bootstrap. <br> Register and post your articles!
				p.text-center
					a(class='btn btn-primary btn-lg' href='/articles') View articles